.container {
  min-height: 100vh;
}

.logo {
  width: 100%;
}

.logo img {
  margin: 16px 38px;
  width: 60%;
}

.logoCollapsed img {
  margin: 16px 10px;
  width: 70%;
}

.footer {
  text-align: center;
}
